.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}

.nav{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 150px 0px 150px; 
}
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;

}

.btn-nav{
    background-color: #4E47FF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
} 

.btn-banner{
    background-color: #4E47FF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    margin: 0px 0px 152px 0px; 
}

.body{
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    }

.banner{
    font-weight: 700;
    color: #252432;
    font-size: 65px;
    text-align: center;
     /* padding: 309px 0px 152px 0px; */ 
} 

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 150px;
}
#wc{
    border-radius: 50px;
}
.action-bold{
    font-weight: 700;
    color: #252432;
    font-size: 42px;
    text-align: left;

}
.action-small{
    font-weight: 400;
    color: #252432;
    font-size: 24px;
    text-align: left;
}

.users{
    background-color: #EEEDFF;
    color: #252432;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    text-align: center;
     margin: 116px 150px;
}
.stats-heading {
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  padding-top: 50px;
}
.numbers{
  font-size: 80px;
  font-weight: 800;
  color: #4b44ff;

}
.container{
  display: flex;
  justify-content: space-around;

}

.label {
  font-size: 20px;
  font-weight:400;
  color: #6F6E77;
  padding-bottom: 50px;
}